<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.chronos.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="site.chronos.entity.Comment" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="question_id" property="questionId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="comment_id" property="commentId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="site.chronos.entity.Comment" extends="BaseResultMap" >
    <result column="comment" property="comment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, question_id, create_time, user_id, is_del, update_time, comment_id
  </sql>
  <sql id="Blob_Column_List" >
    comment
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chronos_comment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from chronos_comment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="site.chronos.entity.Comment" >
    insert into chronos_comment (id, question_id, create_time, 
      user_id, is_del, update_time, 
      comment_id, comment)
    values (#{id,jdbcType=VARCHAR}, #{questionId,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{commentId,jdbcType=VARCHAR}, #{comment,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="site.chronos.entity.Comment" >
    insert into chronos_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentId != null" >
        #{commentId,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.chronos.entity.Comment" >
    update chronos_comment
    <set >
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentId != null" >
        comment_id = #{commentId,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="site.chronos.entity.Comment" >
    update chronos_comment
    set question_id = #{questionId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      comment_id = #{commentId,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.chronos.entity.Comment" >
    update chronos_comment
    set question_id = #{questionId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      comment_id = #{commentId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
   <select id="selectByQuestionId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chronos_comment
    where question_id = #{questionId,jdbcType=VARCHAR} and is_del = 0
  </select>
  
  <select id="selectCommentAll" resultMap="ResultMapWithBLOBs" parameterType="site.chronos.entity.page.CommentPage" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chronos_comment
    where   is_del = 0
  </select>
  
    <select id="selectByCommentId" resultMap="ResultMapWithBLOBs" parameterType="site.chronos.entity.page.CommentPage" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chronos_comment
    where comment_id = #{commentId,jdbcType=VARCHAR} and is_del = 0
  </select>
</mapper>